
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bree+Serif&family=Josefin+Sans:wght@300&family=Kanit:wght@300&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500&family=Roboto+Mono:ital,wght@0,200;0,300;1,100;1,200&family=Rubik&display=swap');

html{
    scroll-behavior: smooth;
}

* {
  margin: 0 ;
  box-sizing: border-box;
}
body {
  font-family: 'Aboreto', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Rubik', sans-serif;
max-width: 100vw;
max-height: 100%;
background-color: #353dd5;
}



nav .container {
  display: flex;
  justify-content: space-between;
  height:132px;
  align-items: center;
  font-size: 18px;font-weight:bold;
  
}
.container li, .logo {
    color: #fff;
}


.login button {
  color: #fff;
}
.login button {
  border-radius: 40px;
  border: 1px solid transparent;
  padding: 6px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #3ccc26;
  cursor: pointer;
  padding-bottom: 5px;
  margin-right: 20px;
}
.login button:hover {
  border-color: #086d23;
  transition: border-color 0.25s;
  background-color: #39b31a;
}

ul {
  display: flex;
  list-style: none;
  gap: 70px;
}

.login {
  display: flex;
  list-style: none;
  gap: 50px;
}
.login li{
  padding-top: 5px;
}
.container .logo {
    display: flex;
    gap: 10px;
}
.login .loginbtn {
    background-color: #3239c4;
}
.container ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}
.container ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}
.container ul li a::after {
    content: '';
    width:0;
    height: 4px;
    background: #39b31a;
    
    position: absolute;
    right: 0;
    bottom: -6px;
    transition: 0.5s;
}
.container ul li a:hover::after {
    width: 100%;
    
}



/* Body part */
.bodypart {
    display: flex;
    width: 86%;
    margin-left: 7%;
    background-color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.write {
    padding: 8%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.write .mid{
    color: #3239c4;
    font-size: 40px;
    font-weight: 600;
} 
.write .top {
    font-size: 15px;
    color: #3239c4;
    font-weight: 400;
}
.write .bottom {
    font-size: 16px;
    font-weight: 400;
}

.write .img {
    display: flex;
    flex-direction: row;
    gap:5%;
}


.image .mainimg {
    filter: drop-shadow(20px 20px 100px blue);
    width: 100%;
}

/* .image .doctor {
    position: absolute;
    top: 50%;
    left: 78%;
}
.image .client {
    position: absolute;
    top: 65%;
    left: 45%;
} */


.image {
    margin-right: 7%;
}

.login-page {
    display: none;
}

.form-box {
    width: 380px;
    height: 460px;
    position: absolute;
     left: 600px;
    margin: 2% auto;
    background: rgba(0,0,0,0.8);
    padding: 10px;
    overflow: hidden;
    border-radius: 5%;
}
.form-box{
    z-index: 5;
}
.bodypart{
    z-index: 6;
}
.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #3239c4;
    border-radius: 30px;
}
.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #39b31a;
    border-radius: 30px;
    transition: 0.5s;
}
.input-group-login{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-group-register{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
#login .input-field {
    width: 100%;
    padding: 25px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

#register .input-field {
    width: 100%;
    padding: 0px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #39b31a;
    border: 0;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 20px 9px #3239c4;
}
.check-box {
    margin: 30px 10px 34px 0;
}
span{
    color: #086d23;
    font-size: 12px;
    bottom:68px;
    position: absolute;
}
#login{
    left:50px;
}
#login input {
    color: white;
    font-size: 15px;
}
#register{
    left: 450px;
}
#register input {
    color: white;
    font-size: 15px;
}
@media(max-width:1195px) {
    nav {
        gap:20%
    }
    .container {
        font-size: 14px;
    }
}

/* =======About us========= */
/* body{
    background-color:#0575FE;
} */
#side-view{
    background-color: #fff;
    display: flex;
    margin-left: 7%;
    height: auto;
    width: 86%;
    
}

#about{
    /* background-color: #f5f7fb; */
    max-width: 1200px;
    width: 90%;
    margin: 80px auto;
    box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    font-family: 'Aboreto', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Rubik', sans-serif;
    max-width: 100vw;
    max-height: 100%;
    padding: 1%;
    background: linear-gradient(-45deg,#c2ddff,#fff);
    transition: backgroud 1s, transform 1s;
}
#about:hover {
    background: rgba(105, 231, 105, 0.7);
    transform: translateY((-10px));
    transform: scale(1.013);
}
.bodypart{
    z-index: 3;
}
#about{
    z-index: 2;
}


.about-img{
    width: 100%;
    display: flex;
}
.about-img img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.about-text{
    padding: 50px;
}
.about-text h2{
    font-size: 2.8rem;
    color: #3239c4;
    line-height: 3rem;
}
.about-text h2:hover {
    color: #333;
    transition: color 0.5s; ;
} 
.about-text p{
    font-size: 0.9rem;
    color: #000;
    margin: 10px 0px;
    line-height: 1.4rem;
    letter-spacing: 0.3px;
    font-size: 16px;
    font-weight: 400;
}
.about-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
   
}
.point{
    cursor: pointer;
}

.about-box-1{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #c2ddff;
}
.about-box-2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #9afbc1;
}
.about-box-3{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #9afbc1;
}

.about-box-4{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #c2ddff;
}
/*----------------- s;kljsliclkcd -----------*/
#section_container {
    background-color: #fff;
    max-width:86%;
    margin: auto;
    padding: 5rem 1rem;
    margin: 0px 7%;
}


.service_container {
    padding: 8%;

}

.service_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  .service_header .service_header_content h1{
    font-size: 44px;
    font-weight: 600;
    color: #3239c4;
  }
  
  .service_header_content p {
    max-width: 600px;
    color:#000;
  }
  
  .service__btn {
    padding:10px 20px; 
    outline: none;
    font-size: 1rem;
    color: var(--green);
    border: 1px solid green;
    background-color: transparent;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s;
    background-color: #3ccc26;
  }
  
  .service__btn:hover {
    color: white;
    background-color: green;
  }
  
  .service__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .service__card {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    gap:20% ;
    transition: backgroud 1s, transform 1s;
  }
  .service__card:hover{
    background: rgba(105, 231, 105, 0.7);
    transform: translateY((-10px));
    transform: scale(1.03);
  }
  
  /* .service__card span {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 2.5rem;
    color: green;
    background-color: green;
    border-radius: 100%;
    transition: 0.3s;
  }
  
  .service__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .service__card p {
    margin-bottom: 1rem;
    color: var(--text-light);
  }
  
  .service__card a {
    color: var(--primary-color);
  }
  
  .service__card a:hover {
    color: var(--primary-color-dark);
  }
  
  .service__card:hover span {
    color: var(--primary-color-light);
    background-color: var(--primary-color);
  } */


  #contact_us_page{
    width: 86%;
    margin-left: 7%;
    background-color: #fff;
    padding-bottom: 1%;
    /* border-bottom-left-radius:25px ;
    border-bottom-right-radius: 25px; */
  }
  .video-content{
    /* margin-bottom: 20px; */
    position: relative;
    width: 50%;
    height: auto;
    left: 25%;
    right: 25%;
    /* flex-basis: 50%; */
    /* margin: auto; */
  }
  .video-content video{
    width: 100%;
    /* display: block; */
    margin: auto;
     border-radius: 10px; 
  } 
  .contact-form {
    position: absolute;
    background-color:rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 300Px;
    height: auto;
    top: 10%;
    left: 5%;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.5);
  
  }
  .contact-form label {
    color: black;
    font-weight: 700;
  }
  .contact-form .heading {
    font-size: 24px;
    color: black;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
  }
  .contact-form form{
    display: flex;
    flex-direction: column;
  }
  .contact-form label {
    margin-bottom: 10px;
  }
  textarea {
    resize: none;
    height: 90px;
    width: 100%;
  }
  
  .contact-form input, .contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #3239c4;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-form button{
    background-color: #39b31a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
  }
  

  /* ====Responsive==== */

  
@media (width < 1700px){

    .video-content{
      width: 55%;
      height: auto;
      left: 25%;
      margin-bottom: 5%;
    }
    .contact-form {
      top: 10%;
      left: 5%;
      box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
    }
  
  
  }
  
  @media (width < 1500px){
    .video-content{
      width: 65%;
      height: auto;
      left: 15%;
      margin-bottom: 10%;
    }
    .contact-form {
      top: 5%;
      left: 5%;
      box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.5);
    }
  
  }
  
  @media (width < 1200px){
  
    .video-content{
      width: 80%;
      left: 10%;
      margin-bottom: 10%;
    }
  
    .contact-form {
      top: 10%;
      left: 5%;
      box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.5);
    }
  }
  
  
  @media (width < 900px) {
 
    .video-content{
      width: 90%;
      left: 5%;
      margin-bottom: 20%;
    }
    .contact-form {
      top: 10%;
      left: 5%;
      box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
    }
  
    .contact-form input, .contact-form textarea {
      box-shadow: 0 0 3px var(#3239c4);
    }
}
  
@media (width < 600px) {
   
    .video-content{
      width: 90%;
      left: 5%;
      margin-bottom: 40%;
    }
    
    .contact-form {
      box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
    }
  
    .contact-form input, .contact-form textarea {
      box-shadow: 0 0 3px var(#3239c4);
    }
  
    .news_container {
      padding-top: 50%;
    }
  
    .footer_bar {
      text-align: center;
    }
}



.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: rgba(0,0, 0,0.5);
    font-weight: 300;
    margin-top: 20px;
}
.copyright p{
    color: #3ccc26;
    font-size: 18px;
    font-weight: 600;
}

